$colorNeutralWhite: #ffffff;
$colorNeutralBlack: #000000;
$colorStateNew: #5bd2c3;
$colorStateActive: #c9c9ca;
$colorStateOld: #89898b;
$colorSuccess: #3ebc6c;
$colorDanger: #d0082b;

.align-items--center { align-items: center; }
.background-color--white { background-color: $colorNeutralWhite; }
.color--new { color: $colorStateNew; }
.color--old { color: $colorStateOld; }
.color--success { color: $colorSuccess; }
.color--danger { color: $colorDanger; }
.display--flex { display: flex; }
.justify-content--center { justify-content: center; }
.margin--auto { margin: auto; }
.min-height--100vh { min-height: 100vh; }
.padding-top--25 { padding-top: 25px; }
.padding-top--50 { padding-top: 50px; }
.text-align--center { text-align: center; }

.logo-link {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;

  .logo {
    height: 30px;
    margin: 0 20px;
  }
}

.ant-layout-header {
  padding: 0;
}

.ant-layout-sider {
  &.ant-layout-sider-collapsed {
    .ant-layout-sider-children {
      display: none;
    }
  }
}

.ant-comment {
  &.ant-comment--reverse {
    .ant-comment-inner {
      flex-direction: row-reverse;

      .ant-comment-content {
        .ant-comment-content-author {
          justify-content: flex-end;
        }

        .ant-comment-content-detail {
          text-align: right;
        }
      }
    }
  }
}

.ant-list-item {
  user-select: none;

  &.ant-list-item--active {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: $colorNeutralWhite;
    position: relative;
    left: 8px;

    .ant-list-item-meta {
      .ant-list-item-meta-content {
        .ant-list-item-meta-content-title {
          &::before {
            background-color: $colorStateActive;
          }
        }
      }
    }
  }

  &.ant-list-item--unread {
    .ant-list-item-meta {
      .ant-list-item-meta-content {
        .ant-list-item-meta-content-title {
          &::before {
            background-color: $colorStateNew;
          }
        }
      }
    }
  }

  &.ant-list-item--paid {
    .ant-list-item-meta {
      .ant-list-item-meta-avatar {
        &::after {
          color: $colorStateNew;
          content: "PAID";
          font-size: 12px;
          margin-top: 8px;
        }
      }
    }
  }

  .ant-list-item-meta {
    flex-direction: row-reverse;

    .ant-list-item-meta-avatar {
      &::after {
        color: $colorStateOld;
        content: "NOT PAID";
        display: block;
        font-size: 10px;
        font-weight: bold;
        position: absolute;
        margin: auto;
        margin-top: 10px;
        margin-left: -10px;
        text-align: center;
        width: 50px;
      }
    }

    .ant-list-item-meta-content {
      margin-left: 16px;

      .ant-list-item-meta-content-title {
        &::before {
          background-color: $colorStateOld;
          border-radius: 50%;
          content: "";
          display: inline-block;
          height: 8px;
          margin-right: 8px;
          width: 8px;
        }
      }
    }
  }
}
